[tool.ruff]
line-length = 120
target-version = "py310"
fix = true

[tool.ruff.lint]
select = ["E", "F", "I"]
ignore = ["E501"]           # ignore line-length error, since ruff doesn't support line width fixing
